:where(html) {
  --border-size-1: 1pt;
  --border-size-2: 2pt;
  --border-size-3: 3pt;
  --border-size-4: 4pt;

  --border-radius-1: 8px;
  --border-radius-2: 10px;
  --border-radius-3: 12px;
  --border-radius-4: 16px;
  --border-radius-5: 20px;
  --border-radius-999: 1000px;
}
