.home-card {
  width: 20vw;

  a {
    color: black;
    text-decoration: none;
  }
}

.card-group {
  display: block;
}

.card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-content {
  text-align: justify;
  hyphens: auto;
}
